.gallery {

  &__wrapper {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    margin-bottom: 60px;
    position: relative;

    @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }
  }

  &__photo {
    max-width: 580px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    img {
      width: 100%;
    }

    &--big {
      grid-column: span 2;
      grid-row: span 2;

      @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
        grid-area: span 1;
      }
    }
  }

  &__icon {
    position: absolute;
    width: 6%;
    height: 16%;
    top: 41%;
    left: 21.5%;

    @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
      display: none;
    }
  }
}
