.slider {
    &__news {
      position: relative;
    }
    
   /* &-arrows {
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &-pre {
      position: absolute;
      left: -10%;
      width: 40px;
      height: 40px;
      border: 1px solid $color-main;
      border-radius: 50%;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      transition: all .3s;
      cursor: pointer;
      line-height: 31px;

      &:hover {
        background-color: $color-main;
        color: $color-black-default;
      }
    }
     
    &-next {
      @extend .news__slider-pre;

      left: auto;
      right: 20%;
    }*/
}

.slick {

  &-slide {
    margin: 0 30px 0 0;
  }

  &-slider{
    min-width: 0;
  }

  &-list {
    overflow: hidden;
  }

  &-track {
    display: flex;
    align-items: flex-start;
    
  }
  
  &-active {
    
    /*&:nth-child(even) {
      margin: 0 30px 0 30px;
    }
    &:last-of-type {
      margin: 0 0 0 0;
    }*/
  }

  &-dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    li {
      width: 10px;
      height: 10px;
      border: 1px solid $color-main;
      border-radius: 50%;
      margin: 0 15px;
      transition: all .3s;
      cursor: pointer;

      &:hover,
      &.slick-active {
        background-color: $color-main;
      }

      button{
        display: none;
      }
    }
  }

  &-arrow {
    position: relative;
    transform: unset;
    background-color: transparent;
    padding: 0;
    top: 50%;
    border: 1px solid $color-main;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: -25px 0px 0px 0px;
  
    &:hover {
      background-color: $color-main;
    }
    
    &:before {
      width: 100%;
      color: $color-main;
      font-family: $primary-title;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      content: '\2039';
    }
    &:hover:before {
      color: $color-black-default;
    }

    &.slick {
      &-prev {
        position: absolute;
        left: -10%;
        right: auto;
      }
      &-next {
        position: absolute;
        left: auto;
        right: -7%;
        
        &:before {
          content: '\203A';
        }
      }
      
    }
  }
}